<h1>Administration</h1>

<ul>
  <li><%= link_to 'Manage Users', admin_users_path %></li>
  <li><%= link_to 'Manage Requests' %></li>
</ul>

<h1>Admin::Dashboard#index local:3000/admin</h1>
<p>Find me in app/views/admin/dashboard/index.html.erb</p>
