<div class="account">
  <h2 id="account_title">Account details</h2>
  <hr>
  <div class="row">
    <div class="user_details">
      <!-- Render booked days card -->
      <%= render './leaves/days_booked', id: 'list' %>
    </div>
    <!-- Render user details -->
    <%= render 'show' %>
    <p>
    </p>
  </div>
</div>
