<%= render 'errors', resource: @leave %>

<div class="container">

  <!-- Opening new modal button -->
  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
    Book time off
  </button>
  <br>
  <hr>

  <div class="container_leaves">
    <%= render @leave %>
  </div>
  <div id="leave-modal" class="modal fade"></div>

  <!-- Modal action new -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="myModalLabel" style="color: #660033">Request time off</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>

</div>
