<div class="container">
  <%= render 'errors', resource: @leave %>
  <% if user_signed_in? %>
    <%= render './layouts/fullname' %>
  <% end %>

<!-- Rendering new action modal with new button -->
  <%= render './layouts/new' %>
  <hr>

<!-- Leaves requests -->
  <div class="container_leaves">
    <%= render @leaves %>
  </div>
  <div id="leave-modal" class="modal fade"></div>
