<h1>Admin::Users#index</h1>
<p>Find me in app/views/admin/users/index.html.erb</p>

<table>
    <tr>
      <th>Email</th>
    </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
    </tr>
  <% end %>
</table>
<br>

<%= link_to 'Add New User', new_admin_user_path %><br>
<%= link_to 'Invite a user', new_user_invitation_path %>
